---
layout: page
title: Work
permalink: /work/
---
<p>I've been treating this developer journey of mine like a video game, where every project is a level to be cleared. Think Super Mario World. Life's too short not to have fun, right? <span class="emoji" role="img" tabindex="0" aria-label="grinning face with smiling eyes">&#x1F601;</span></p>

<p>This approach worked pretty well because I've been lucky enough to work on a wide range of projects. While we're on the topic of work, I actually do have a <a class="no-underline" href="/resume/">résumé</a>, if you're interested.</p>

<h2>Client work</h2>
<div class="grid-flex projects">
  {% for post in site.tags.client-work %}
  <div class="project">
    {% if post.external_url %}
    <a class="no-underline" href="{{ post.external_url }}">
    {% else %}
    <a class="no-underline" href="{{ post.url | prepend: site.baseurl }}">
    {% endif %}
      <img class="project__image" srcset="{{ site.url }}/images/posts/projects/{{ post.image }}@2x.png 2x" src="{{ site.url }}/images/posts/projects/{{ post.image }}.png" alt="{{ post.image }}"/>
      <h3 class="project__title no-margin">{{ post.project }}</h3>
    </a>
  </div>
  {% endfor %}
</div>

<h2>Side projects</h2>
<div class="grid-flex projects">
  {% for post in site.tags.side-project %}
  <div class="project grid-flex__3item">
    <a class="no-underline" href="{{ post.url | prepend: site.baseurl }}">
      <img class="project__image" srcset="{{ site.url }}/images/posts/projects/{{ post.image }}@2x.png 2x" src="{{ site.url }}/images/posts/projects/{{ post.image }}.png" alt="{{ post.image }}"/>
      <h3 class="project__title no-margin">{{ post.project }}</h3>
    </a>
  </div>
  {% endfor %}
  {% for project in site.data.projects %}
  <div class="project grid-flex__3item">
    <a class="no-underline" href="{{ site.url }}/{{ project.id }}">
      <img class="project__image" srcset="{{ site.url }}/images/posts/projects/{{ project.image }}@2x.png 2x" src="{{ site.url }}/images/posts/projects/{{ project.image }}.png" alt="{{ project.image }}"/>
      <h3 class="project__title no-margin">{{ project.title }}</h3>
    </a>
  </div>
  {% endfor %}
</div>

<div class="projects">
  <a href="/demos/">
    <img srcset="{{ site.url }}/images/yoshi-480.png 480w, {{ site.url }}/images/yoshi-640.png 640w, {{ site.url }}/images/yoshi-960.png 960w, {{ site.url }}/images/yoshi-1280.png 1280w" sizes="(max-width: 400px) 100vw, (max-width: 960px) 75vw, 640px" src="{{ site.url }}/images/yoshi-640.png" alt="Yoshi's island remix" />
    <h2>The land of random demos</h2>
  </a>
</div>
