<div class="comments">
  <h3 class="comments__title">Comments</h3>
  <p class="no-margin">Let me know what you think by <a href="#form-wrapper">leaving a comment</a>.</p>

  <ul class="comments__list no-list-style">
    {% for comment in site.data.comments.sessions reversed %}
    {% capture fullpath %}{{ site.url }}{{ page.url }}{% endcapture %}
    {% if comment.path == fullpath %}
      <hr>
      <li class="no-margin">
        <time datetime="{{ comment.created | date_to_xmlschema }}" class="small">{{ comment.created | date_to_long_string  }}</time>
        {% if comment.url != "" %}
          <a href="http://{{ comment.url }}" class="comments__commenter small"><strong>{{ comment.name }}</strong></a>
        {% else %}
          <span class="comments__commenter english-walnut small"><strong>{{ comment.name }}</strong></span>
        {% endif %}
        <div class="comments__text">
          {{ comment.comment }}
        </div>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <div class="comments__wrapper">
    <form action="http://pooleapp.com/stash/1f791cb6-42d7-48ca-ba1e-800ea05e459a/" method="post" class="comments__form">
      <h3>Leave a comment</h3>
      <input type="hidden" name="redirect_to" value="{{ site.url }}/thanks/" />
      <input type="hidden" name="path" value="{{ site.url }}{{ page.url }}" />
      <input type="text" name="name" required />
      <label placeholder="Your name" alt="Your name"></label>
      <input type="text" name="url" />
      <label placeholder="Your website (optional)" alt="Your website (optional)"></label>
      <input type="email" name="_replyto" required />
      <label placeholder="Your email" alt="Your email"></label>
      <textarea name="comment" required></textarea>
      <label placeholder="Your comment" alt="Your comment"></label>
      <input type="submit" value="Post comment" class="submit" />
    </form>
  </div>

</div>
