<script src="/js/prism.js"></script>
<script type="text/javascript">
  window._pt_sp_2 = [];
  _pt_sp_2.push('setAccount,7e8d9cb5');
  var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  (function() {
    var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true;
    atag.src = _protocol + 'jsv2.ptengine.com/pta.js';
    var stag = document.createElement('script'); stag.type = 'text/javascript'; stag.async = true;
    stag.src = _protocol + 'jsv2.ptengine.com/pts.js';
    var s = document.getElementsByTagName('script')[0]; 
    s.parentNode.insertBefore(atag, s);s.parentNode.insertBefore(stag, s);
  })();
</script>
<script>
  var lifeInEmoji = [
    '🚲',
    '🏀',
    '🎮',
    '👾',
    '💻',
    '👟',
    '🎹',
    '🎨'
  ];
  if (navigator.userAgent.indexOf('Mac OS X') !== -1) {
    window.location.hash = lifeInEmoji[ Math.floor( Math.random() * ( lifeInEmoji.length - 1 ) ) ];
  }
</script>
</body>

</html>
