<header class="site-header">
  <div class="site-header__wrapper">
    <div class="site-branding">
      <a class="no-underline" href="{{ site.baseurl }}/"><span class="site-branding__image">Home</span></a>
      <div class="site-branding__wrapper">
        <h1 class="site-branding__title no-margin"><a class="no-underline english-walnut" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <p class="site-branding__description">{{ site.description }}</p>
      </div>
    </div>

    <nav class="site-nav">
      <a class="site-nav__link about-page no-underline english-walnut" href="/about/">About</a>
      <a class="site-nav__link resume no-underline english-walnut" href="/work/">Work</a>
      <a class="site-nav__link talks no-underline english-walnut" href="/slides/">Talks</a>
      <a class="site-nav__link blog-page no-underline english-walnut" href="/blog/">Blog</a>
    </nav>
  </div>
</header>
