<header class="site-header">
  <div class="header-wrapper">
    <div class="sh-outer item first">
      <a class="site-header__image no-underline" href="{{ site.baseurl }}/"></a>
      <div class="sh-inner">
        <a class="site-header__title no-underline english-walnut" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <p class="site-header__description">{{ site.description }}</p>
      </div>
    </div>

    <nav class="site-nav item last">
      <a class="site-nav__link about-page no-underline english-walnut" href="/about/">About</a>
      <a class="site-nav__link resume no-underline english-walnut" href="/resume/">Résumé</a>
      <a class="site-nav__link blog-page no-underline english-walnut" href="/blog/">Blog</a>
    </nav>
  </div>
</header>
