// ======
// Trumps
// ======
.no-margin {
  margin-bottom: 0;
}

a.no-underline,
a.no-underline:hover {
  border: 0;
}

.no-list-style {
  list-style: none;
}

.no-break {
  white-space: nowrap;
}

.italicise {
  font-style: italic;
}