// *IMPORTANT* This theme requires you to install Susy
@import '../node_modules/susy/sass/susy';

// ==========
// VENDOR LIBRARIES
// ==========
@import 'lib/normalize';
@import 'lib/typography-units';
@import 'lib/vertical-rhythm';
@import 'lib/prism';

// ==========
// MIXINS & FUNCTIONS
// ==========
@import 'helpers/mixins';
@import 'helpers/functions';
@import 'helpers/global-classes';
@import 'helpers/avi';

// ==========
// THEME RESET & BASE FILES
// ==========
@import 'base/variables';
@import 'base/reset';
@import 'base/typography';
@import 'base/susy-base';
@import 'base/extends';

// ==========
// LAYOUTS - All Susy and other span related layouts go here
// ==========
@import 'layout/layout';

// ==========
// COMPONENTS - Component styles
// ==========
@import 'components/borders';
@import 'components/colours';
@import 'components/comments';
@import 'components/css-shapes';
@import 'components/footer';
@import 'components/general';
@import 'components/header';
@import 'components/inputs';
@import 'components/lists';
@import 'components/pagination';
@import 'components/tables';

// ==========
// PAGES - Page-specific styles
// ==========
@import 'pages/about';
@import 'pages/blogs';
@import 'pages/error';
@import 'pages/home';
@import 'pages/resources';
@import 'pages/talk';
@import 'pages/thanks';
@import 'pages/work';

// ==========
// SHAME - For new style snippets that haven't been sorted and commented yet
// ==========
@import 'shame';
