.blog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  @include respond-above(small) {
    justify-content: flex-start;
  }
}

.blog {
  width: 250px;
  margin: rhythm(0.5);
  img {
    box-shadow: 5px 10px 15px 2px color(english-walnut);
  }
}
