.shape {
  shape-outside: url("/images/posts/beyonce.png");
  shape-image-threshold: 0.5;
  shape-margin: rhythm(0.5);
  float: left;
  width: 50%;
  @include respond-above(small) {
    width: auto;
  }
}
