.footer-wrapper.main {
  background: url('/images/bg-footer-2.jpg');
}

.footer-wrapper.secondary {
  background: url('/images/bg-footer.jpg');
}

.footer-main {
  @extend %center;
  max-width: 1140px;
  padding: rhythm(0.5) rhythm(0.25);
  display: flex;
  flex-flow: row wrap;
  @include respond-above(medium) {
    flex-flow: row nowrap;
    .about-me {
      flex: 5 0 0;
    }
    .contact-list {
      flex: 2 0 0;
    }
  }
}

.about-me,
.contact-info {
  margin: 0 rhythm(1);
  @include respond-above(medium) {
    margin-top: rhythm(1);
  }
}

.avatar {
  @extend %center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: rhythm(0.5) auto;
}

.contacts {
  margin: 0;
  li {
    margin: 0;
    list-style: none;
  }
}

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    path {
      fill: color(apple);
      &:hover {
        fill: lighten(color(apple), 20%);
      }
    }
  }
}

.footer-secondary {
  @extend %center;
  max-width: 1140px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding: rhythm(0.25);
  .span-wrapper {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
  }
  @include respond-above(large) {
    flex-flow: row nowrap;
    .span-wrapper {
      flex: 5 0 0;
    }
    .footer-nav {
      flex: 2 0 0;
    }
  }
}



.attribute,
.copyright {
  text-align: center;
  flex: auto;
  width: 275px;
}

.footer-nav {
  display: flex;
  width: 100%;
  a {
    flex: auto;
    text-align: center;
  }
}
