body {
  background: url('/images/bg-body.jpg');
  min-width: 320px;
}

img {
  @include center;
  display: block;
}

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    path {
      fill: color(apple);
    }
    a & path {
      fill: color(apple);
      &:hover {
        fill: lighten(color(apple), 20%);
      }
    }
  }
}

.icon--title {
  > svg {
    width: 24px;
    height: 24px;
    @include respond-above(medium) {
      width: 32px;
      height: 32px;
    }
    path {
      fill: color(mineshaft);
    }
  }
}

.emoji {
  height: 32px;
  width: 32px;
  display: inline;
}

.message-wrapper {
  margin-bottom: rhythm(0.5);
}

.text-wrapper {
  @include respond-above(medium) {
    flex: 1 1 auto;
  }
}

.flex-container {
  display: block;
  @include respond-above(medium) {
    display: flex;
    flex-flow: row nowrap;
  }
}

.success {
  vertical-align: middle;
  margin-right: rhythm(0.5);
}

.img-404 {
  @include respond-above(medium) {
    flex: 1 0 436px;
    height: auto;
  }
}
