.site-header {
  background: url('/images/bg-header.jpg');
}

.header-wrapper {
  @extend %center;
  max-width: 1140px;
  display: flex;
  align-items: center;
  padding: rhythm(0.5);
  flex-flow: row wrap;
  @include respond-above(x-large) {
    flex-flow: row nowrap;
    .first {
      flex: 3 0 0;
    }
    .last {
      flex: 1 0 0;
    }
  }
}

.site-header__image {
  display: block;
  min-width: 90px;
  height: 90px;
  width: 90px;
  background: url('/images/retropc-static.png');
  background-size: cover;
  @include respond-above(medium) {
    height: 120px;
    width: 120px;
  }
  &:before {
    content: url('/images/retropc-dynamic.gif');
    width:0;
    height:0;
    visibility:hidden;
  }
  &:hover {
    background: url('/images/retropc-dynamic.gif');
    background-size: cover;
  }
}

.sh-outer {
  display: flex;
  align-items: center;
}

.sh-inner {
  margin-left: rhythm(1);
}

.site-nav {
  display: flex;
  width: 100%;
  a {
    flex: 1 0 0;
    text-align: center;
  }
  @include respond-above(medium) {
    margin-top: rhythm(0.5);
  }
  @include respond-above(large) {
    margin-top: 0;
  }
}
