.site-header {
  display: flex;
  align-items: center;
  padding: rhythm(0.5);
  background: url('/images/bg-header.jpg');
  flex-flow: row wrap;
  @include respond-above(large) {
    flex-flow: row nowrap;
    .first {
      flex: 3 0 0;
    }
    .last {
      flex: 1 0 0;
    }
  }
}

.site-header__image {
  min-width: 90px;
}

.sh-outer {
  display: flex;
  align-items: center;
}

.sh-inner {
  margin-left: rhythm(1);
}

.site-nav {
  display: flex;
  width: 100%;
  a {
    flex-grow: 1;
    text-align: center;
  }
  @include respond-above(medium) {
    margin-top: rhythm(0.5);
  }
  @include respond-above(large) {
    margin-top: 0;
  }
}
