body {
  background: url('/images/bg-body.jpg');
  min-width: 320px;
}

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    path {
      fill: color(apple);
    }
    a & path {
      fill: color(apple);
      &:hover {
        fill: lighten(color(apple), 20%);
      }
    }
  }
}

.icon--tag {
  > svg {
    width: 32px;
    height: 32px;
    path {
      fill: color(mineshaft);
    }
  }
}
