.blog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @include respond-above(small) {
    justify-content: flex-start;
  }
}

.blog {
  margin: rhythm(0.5);
  width: 250px;

  img {
    box-shadow: 5px 10px 15px 2px color('english-walnut');
  }
}
