.error__wrapper {
  display: block;
  @include respond-above(medium) {
    display: flex;
    flex-flow: row nowrap;
  }
}

.error__image {
  @include respond-above(medium) {
    flex: 1 0 436px;
    height: auto;
  }
}

.error__text {
  @include respond-above(medium) {
    flex: 1 1 auto;
  }
}
