.content {
  padding: rhythm(1);
  background: color(sugarcane);
}

.tag-title {
  display: inline-block;
  margin-left: rhythm(0.25);
}

.more-link {
  text-align: right;
}

.external-url:after {
  content: 'test';
  display: block;
}
