.content {
  background: color(sugarcane);
  padding: rhythm(1);
}

.tag-title {
  display: inline-block;
  margin-left: rhythm(.25);
}

.more-link {
  text-align: right;
}

.external-url {
  &::before,
  &::after {
    content: '';
    display: inline-block;
    height: .8em;
    width: .8em;
  }

  &::before {
    margin-right: rhythm(.25);
  }

  &::after {
    background: url('/images/icons/icon-link.svg') no-repeat;
    background-size: cover;
    margin-left: rhythm(.5);
  }
}

.alistapart::before {
  background: url('/images/icons/icon-ala.png') no-repeat;
  background-size: cover;
}
