.message-wrapper {
  margin-bottom: rhythm(.5);
}

.success {
  display: inline-block;
  margin-right: rhythm(.5);
  vertical-align: middle;
}

.attribution {
  background-color: darken(color(sugarcane), 3%);
  margin-top: rhythm(1);
  padding: rhythm(1);
}
