// Audio, Video, Images and other defaults styles here
embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

img {
  height: auto;
  width: auto;
  /* IE8 */
}

iframe {
  margin-bottom: rhythm(1);
}
