// Audio, Video, Images and other defaults styles here
embed,
iframe,
img,
object,
video,
svg {
  @include center;
  display: block;
}

img {
  height: auto;
  width: auto;
}

iframe {
  margin-bottom: rhythm(1);
}
