.element-invisible {
  @include element-invisible;
}

.element-visible {
  @include element-visible;
}

.hide {
  display: none !important;
}

.no-margin {
  margin-bottom: 0;
}

a.no-underline {
  border: 0;
}

a.no-underline:hover {
  border: 0;
}

.no-list-style {
  list-style: none;
}

