.comments__title {
  padding-top: rhythm(1);
}

.comments__list {
  margin-left: 0;
}

.comments {
  time {
    display: block;
  }
}

.comments__commenter {
  display: inline-block;
  margin-bottom: rhythm(.5);
}

.comments__wrapper {
  background-color: darken(color(sugarcane), 3%);
  margin-top: rhythm(1);
  padding: rhythm(1);
}
