body {
  background: url('/images/bg-body.jpg');
  min-width: 320px;
}

picture img {
  margin-bottom: rhythm(1);
}

.icon {
  > svg {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;

    path {
      fill: color(apple);
    }

    a & path {
      fill: color(apple);

      &:hover {
        fill: lighten(color(apple), 20%);
      }
    }
  }
}

.icon--title {
  > svg {
    height: 24px;
    width: 24px;

    @include respond-above(medium) {
      height: 32px;
      width: 32px;
    }

    path {
      fill: color(mineshaft);
    }
  }
}

.emoji {
  @include responsive-text-size(hecto);
  display: inline-block;
  vertical-align: middle;
}

.kaomoji {
  white-space: nowrap;
}

.cp_embed_iframe {
  @include center;
  display: block;
  max-width: 600px;
}
