body {
  background: url('/images/bg-body.jpg');
  min-width: 320px;
}

picture img {
  margin-bottom: rhythm(1);
}

.icon {
  > svg {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;

    path {
      fill: color('apple');
    }

    a & path {
      fill: color('apple');

      &:hover {
        fill: lighten(color('apple'), 20%);
      }
    }
  }
}

.icon--title {
  > svg {
    height: 24px;
    width: 24px;

    @include respond-above(medium) {
      height: 32px;
      width: 32px;
    }

    path {
      fill: color('mineshaft');
    }
  }
}

.emoji {
  font-size: 1.294rem;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Segoe UI Emoji';

  @include respond-above(large) {
    font-size: 1.618rem;
  }
}

span[role=img][aria-label],
span[role=img][aria-label] {
  position: relative;
}

span[role=img][aria-label]:focus::after,
span[role=img][aria-label]:hover::after {
  font-size: 50%;
  font-family: $base-font;
  font-weight: 400;
  position: absolute;
  display: block;
  line-height: 1.2;
  content: attr(aria-label);
  z-index: 1;
  bottom: 2.5em;
  left: 0;
  background: color('english-walnut');
  color: color('white');
  padding: 0.25em;
  border: 1px solid color('white');
  box-shadow: 2px 2px 4px color('english-walnut');
}

@media print {
  span[role=img][aria-label]::after {
    content: " (" attr(aria-label) ") ";
  }
}

.kaomoji {
  white-space: nowrap;
  font-style: normal;
}

.cp_embed_iframe {
  @include center;
  display: block;
  max-width: 600px;
}
