body {
  background: url('/images/bg-body.jpg');
  min-width: 320px;
}

picture img {
  margin-bottom: rhythm(1);
}

.icon {
  > svg {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;

    path {
      fill: color('apple');
    }

    a & path {
      fill: color('apple');

      &:hover {
        fill: lighten(color('apple'), 20%);
      }
    }
  }
}

.icon--title {
  > svg {
    height: 24px;
    width: 24px;

    @include respond-above(medium) {
      height: 32px;
      width: 32px;
    }

    path {
      fill: color('mineshaft');
    }
  }
}

.emoji {
  font-size: 1.294rem;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;

  @include respond-above(large) {
    font-size: 1.618rem;
  }
}

.kaomoji {
  white-space: nowrap;
  font-style: normal;
}

.cp_embed_iframe {
  @include center;
  display: block;
  max-width: 600px;
}
