.site-header {
  background: url('/images/bg-header.jpg');
}

.site-header__wrapper {
  @include center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  max-width: 1140px;
  padding: rhythm(0.5);

  @include respond-above(x-large) {
    flex-flow: row nowrap;

    .site-branding {
      flex: 3 1 70%;
    }

    .site-nav {
      flex: 1 1 30%;
    }
  }
}

.site-branding__image {
  @include image-replacement;
  background: url('/images/retropc-static.png');
  background-size: cover;
  display: block;
  height: 90px;
  min-width: 90px;
  width: 90px;

  @include respond-above(medium) {
    height: 120px;
    width: 120px;
  }

  &::before {
    content: url('/images/retropc-dynamic.gif');
    height: 0;
    visibility: hidden;
    width: 0;
  }

  &:hover {
    background: url('/images/retropc-dynamic.gif');
    background-size: cover;
  }
}

.site-branding {
  align-items: center;
  display: flex;
}

.site-branding__wrapper {
  margin-left: rhythm(1);
}

.site-nav {
  display: flex;
  margin-top: rhythm(0.5);
  width: 100%;

  @include respond-above(x-large) {
    margin-top: 0;
  }

  a {
    flex: auto;
    text-align: center;
  }
}
