input[type=text],
input[type=email] {
  @include adaptive-placeholder();
  max-width: 510px;
  width: 100%;
}

textarea {
  @include adaptive-placeholder($textarea-placeholder);
  max-width: 775px;
  width: 100%;
}

input[type=submit] {
  color: white;
  background-color: color(apple);
  padding: rhythm(.25) rhythm(.5);
  transition: background-color .15s linear;

  &:hover {
    background-color: darken(color(apple), 20%);
  }
}

input[type=reset] {
  background-color: lighten(color(abbey), 20%);
  color: white;
  padding: rhythm(.25) rhythm(.5);
  transition: background-color .15s linear;

  &:hover {
    background-color: color(abbey);
  }
}

input[type=checkbox].checkbox,
input[type=radio].radio {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}

input[type=checkbox].checkbox + label.checkbox-label {
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 28px;
  margin-bottom: rhythm(.5);
  padding-left: 33px;
  vertical-align: middle;
}

input[type=radio].radio + label.radio-label {
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 20px;
  margin-bottom: rhythm(.5);
  padding-left: 25px;
  vertical-align: middle;
}

input[type=checkbox].checkbox:checked + label.checkbox-label {
  background-position: 0 -28px;
}

input[type=radio].radio:checked + label.radio-label {
  background-position: 0 -20px;
}

.checkbox-label {
  background-image: url('../images/checkbox.png');
}

.radio-label {
  background-image: url('../images/radio.png');
}
