label {
  @include responsive-text-size(deci);
  display: block;
}

input[type=text],
input[type=email] {
  border: 1px solid color('silver-chalice');
  height: 2.25rem;
  margin-bottom: rhythm(0.5);
  max-width: 510px;
  padding: rhythm(0.375);
  transition: border 0.3s;
  width: 100%;

  &:focus {
    border: 1px solid color(walnut);
  }
}

textarea {
  border: 1px solid color('silver-chalice');
  display: block;
  margin-bottom: rhythm(1);
  max-width: 775px;
  padding: rhythm(0.25) rhythm(0.375);
  transition: border 0.3s;
  width: 100%;

  &:hover {
    border: 1px solid color('silver-chalice');
  }

  &:focus {
    border: 1px solid color(walnut);
  }
}

input[type=submit] {
  color: color('white');
  background-color: color('apple');
  padding: rhythm(0.25) rhythm(0.5);
  transition: background-color 0.15s linear;

  &:hover {
    background-color: darken(color('apple'), 20%);
  }
}

input[type=reset] {
  background-color: lighten(color('abbey'), 20%);
  color: color('white');
  padding: rhythm(0.25) rhythm(0.5);
  transition: background-color 0.15s linear;

  &:hover {
    background-color: color('abbey');
  }
}

input[type=checkbox].checkbox,
input[type=radio].radio {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}

input[type=checkbox].checkbox + label.checkbox-label {
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 28px;
  margin-bottom: rhythm(0.5);
  padding-left: 33px;
  vertical-align: middle;
}

input[type=radio].radio + label.radio-label {
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 20px;
  margin-bottom: rhythm(0.5);
  padding-left: 25px;
  vertical-align: middle;
}

input[type=checkbox].checkbox:checked + label.checkbox-label {
  background-position: 0 -28px;
}

input[type=radio].radio:checked + label.radio-label {
  background-position: 0 -20px;
}

.checkbox-label {
  background-image: url('../images/checkbox.png');
}

.radio-label {
  background-image: url('../images/radio.png');
}
