ol {
  counter-reset: list;
  margin-left: rhythm(1);

  li {
    list-style: none;
    margin-bottom: rhythm(1);
    position: relative;

    &::before {
      content: counter(list) '.';
      counter-increment: list;
      font-weight: bold;
      left: rhythm(-1);
      position: absolute;
      top: 0;
    }
  }

  ul {
    li {
      list-style: disc;

      &::before {
        content: '';
        counter-increment: none;
      }
    }
  }
}

ul {
  list-style: disc;
  margin-left: rhythm(1);

  ul {
    list-style: square;
  }
}

li {
  margin-bottom: rhythm(1);
}

dt {
  font-weight: bold;
}
