.table {
  margin-bottom: rhythm(1);

  @include respond-above(medium) {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
}

.tr {
  margin-bottom: rhythm(1);

  @include respond-above(medium) {
    display: table-row;
  }
}

.td {
  @include respond-above(medium) {
    display: table-cell;
    border: #f0f0f0 1px solid;
    padding: rhythm(0.25);
  }
}

.th {
  @include responsive-text-size(deca);
  font-family: $header-font;

  @include respond-above(medium) {
    @include responsive-text-size(base);
    font-family: $base-font;
    font-weight: 700;
  }
}

.display {
  .th {
    &::before {
      content: 'display: ';

      @include respond-above(medium) {
        content: '';
      }
    }

    &::after {
      content: ';';

      @include respond-above(medium) {
        content: '';
      }
    }
  }

  .td {
    &:first-child {
      width: 11em;
    }
  }
}
