table {
  border-spacing: 0;
}

tr {
  transition: background-color 0.15s linear;

  &:hover {
    background-color: darken(color('sugarcane'), 5%);
  }
}

td,
th {
  padding: rhythm(0.5);
  text-align: center;
}

th {
  border-bottom: 2px solid color('abbey');
}

td {
  border-bottom: 1px solid color('abbey');
}

.table {
  margin-bottom: rhythm(1);
  @include respond-above(medium) {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
}

.tr {
  margin-bottom: rhythm(1);
  @include respond-above(medium) {
    display: table-row;
  }
}

.td {
  @include respond-above(medium) {
    display: table-cell;
    border: #f0f0f0 1px solid;
    padding: rhythm(0.25);

    &:first-child {
      width: 11em;
    }
  }
}

.th {
  @include responsive-text-size(deca);
  font-family: $header-font;

  @include respond-above(medium) {
    @include responsive-text-size(base);
    font-family: $base-font;
    font-weight: 700;
  }

  &::before {
    content: 'display: ';

    @include respond-above(medium) {
      content: '';
    }
  }

  &::after {
    content: ';';

    @include respond-above(medium) {
      content: '';
    }
  }
}

