---
layout: default
---

<header class="page-header">
  <span class="icon icon--title">
    <svg viewBox="0 0 544 512">
      <path d="M496,32H384c-26.4,0-63.273,15.273-81.941,33.941L113.941,254.059c-18.667,18.667-18.667,49.214,0,67.882l140.118,140.115 c18.667,18.668,49.214,18.668,67.882,0l188.115-188.115C528.727,255.273,544,218.4,544,192V80C544,53.6,522.4,32,496,32z M432,192 c-26.51,0-48-21.49-48-48s21.49-48,48-48s48,21.49,48,48S458.51,192,432,192z"/></svg>
    </span>
  <h2 class="tag-title">{{ page.tag }}</h2>
</header>

{% if site.tags[page.tag] %}
  {% for post in site.tags[page.tag] %}
    {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% if forloop.first %}
      <span class="post-meta abbey">{{ post_year }}</span><div class="post-list">
    {% endif %}
    
    {% if forloop.first == false %}
      {% assign previous_index = forloop.index0 | minus: 1 %}
      {% capture previous_post_year %}{{ site.tags[page.tag][previous_index].date | date: '%Y' }}{% endcapture %}
      {% if post_year != previous_post_year %}
        </div><span class="post-meta abbey">{{ post_year }}</span><div class="post-list">
      {% endif %}
    {% endif %}
    
    <h3 class="no-margin">
      <a class="no-underline" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>

    <p class="post-summary">{{ post.content | strip_html | truncatewords:40}}</p>
    
    {% if forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  <p>There are no posts for this tag.</p>
{% endif %}
