.content {
    @include container(960px);
}

.figure-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    @include respond-above(small) {
        flex-flow: row nowrap;
        margin-bottom: rhythm(1);
    }
}

figure {
    margin-bottom: rhythm(1);
}

.two-col {
    margin: 0 rhythm(1) rhythm(1) rhythm(1);
    @include respond-above(small) {
        flex-flow: row nowrap;
        margin: 0 rhythm(1);
    }
}

.grid-3 {
    @include cf;
}

.grid-3__item {
    @media (min-width: 575px) and (max-width: 820px) {
        @include span(6 of 12);
        &:nth-child(2n) {
            @include last;
        }
    }
    @include respond-above(large) {
        @include span(4 of 12);
        &:nth-child(3n) {
            @include last;
        }
    }
}

.grid-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.grid-flex__item {
    flex: 0 0 100%;
    @media (min-width: 575px) and (max-width: 820px) {
        flex: 0 0 span(6 of 12);
    }
    @include respond-above(large) {
        flex: 0 0 span(4 of 12);
    }
}
