// ==========
// SUSY GLOBAL SETTINGS
// -----
// This file is for you to set Susy global settings for your projects.
//
// See here for a complete list of all settings and their defaults
// http://susy.readthedocs.org/en/latest/settings/#global-defaults
// ==========

// Float Style
$susy: (
  global-box-sizing: border-box,
);
