// ==========
// TYPOGRAPHY BASE
// -----
// This file sets the typography for the rest of the document.
// You should only include font properties in this file.
// If your typography changes in size when the breakpoint
// changes, you should include these changes right here in this
// document.
// ==========

// Establishes baseline with Compass Vertical.
@include establish-baseline;
$grid-background-baseline-height: $base-line-height;

// Standardise site-wide typography styles here. Refer to _variables.scss to edit the variables used in the type-scale mixin.
body {
  @include responsive-text-size(base);
  font-family: $base-font;
  color: color(mine-shaft);
}

%h1, h1 {
  font-family: $header-font;
  @include responsive-text-size(mega);
  margin: 0 auto rhythm(1);
}

%h2, h2 {
  font-family: $header-font;
  @include responsive-text-size(kilo);
  margin: 0 auto rhythm(1);
}

%h3, h3 {
  font-family: $header-font;
  @include responsive-text-size(hecto);
  margin: 0 auto rhythm(0.5);
}

%h4, h4 {
  font-family: $header-font;
  @include responsive-text-size(deca);
  margin: 0 auto rhythm(0.5);
}

%h5, h5 {
  font-family: $header-font;
  @include responsive-text-size(base);
  margin: 0 auto rhythm(0.5);
}

%h6, h6 {
  font-family: $header-font;
  @include responsive-text-size(base);
  margin: 0 auto rhythm(1);
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

pre,
code {
  @include responsive-text-size(deci);
  font-family: $code-font;
}

pre {
  white-space: pre;
  border-radius: 5px;
  margin-bottom: rhythm(1);
  overflow-x: auto;
}

code {}

blockquote {
  background: url('/images/bg-quotes.jpg');
  border-left: 10px solid color(royal-blue);
  padding: rhythm(0.5);
  margin-bottom: rhythm(1);
  &:before {
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.5em;
    color: color(royal-blue);
    content: "\201C";
    font-family: $display-font;
  }
  &:after {
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.1em;
    vertical-align: -0.5em;
    color: color(royal-blue);
    content:"\201D";
    font-family: $display-font;
  }
  p {
    display: inline;
  }
}

p {
  margin-bottom: rhythm(1);
  li & {
    margin-bottom: 0;
  }
  .post-list & {
    margin-bottom: rhythm(1);
  }
}

ol {
  margin-left: rhythm(1);
  counter-reset: list;
  li {
    margin-bottom: rhythm(1);
    list-style: none;
    position: relative;
    &:before {
      counter-increment: list;
      content: counter(list) '.';
      position: absolute;
      top: 0px;
      left: rhythm(-1);
      font-weight: bold;
    }
  }
}

ul {
  list-style: disc;
  margin-left: rhythm(1);
}

li {
  &:last-child {
    margin-bottom: rhythm(1);
  }
  .post-list &,
  .podcast-list &,
  .blog-list & {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: color(apple);
  border-bottom: 1px dashed color(apple);
  transition: all 0.15s linear;
  &:hover {
    color: darken(color(apple), 20%);
    border-bottom: 1px solid color(apple);
  }
  &.no-underline {
    border: none;
    &:hover {
      border: none;
    }
  }
  h3 & {
    color: color(english-walnut);
  }
  .site-header & {
    color: color(english-walnut);
  }
  .site-footer & {
    &:hover {
      color: lighten(color(apple), 20%);
    }
  }
}

.site-header__title {
  @include responsive-text-size(hecto);
  font-family: $display-font;
  font-weight: bold;
}

.site-nav {
  font-family: $display-font;
}

.site-header__description {
  font-family: $display-font;
  @include responsive-text-size(centi);
}

.post-meta {
  @include responsive-text-size(deci);
  color: color(abbey);
}

.rss-subscribe {
  @include responsive-text-size(deci);
}

.site-footer {
  font-family: $display-font;
}

.footer-main {
  @include responsive-text-size(centi);
}

.footer-secondary {
  @include responsive-text-size(milli);
  color: white;
}
