// ==========
// TYPOGRAPHY BASE
// -----
// This file sets the typography for the rest of the document.
// You should only include font properties in this file.
// If your typography changes in size when the breakpoint
// changes, you should include these changes right here in this
// document.
// ==========

// Establishes baseline with Compass Vertical.
@include establish-baseline;
$grid-background-baseline-height: $base-line-height;

// Standardise site-wide typography styles here. Refer to _variables.scss to edit the variables used in the type-scale mixin.
body {
  @include responsive-text-size(base);
  font-family: $base-font;
  color: color(mine-shaft);
}

%h1, h1 {
  @include responsive-text-size(kilo);
  font-family: $header-font;
  margin: 0 auto rhythm(1);
}

%h2, h2 {
  @include responsive-text-size(hecto);
  font-family: $header-font;
  margin: 0 auto rhythm(1);
}

%h3, h3 {
  @include responsive-text-size(deca);
  font-family: $header-font;
  margin: 0 auto rhythm(0.5);
  .site-footer & {
    font-family: $display-font;
  }
}

%h4, h4 {
  @include responsive-text-size(base);
  font-family: $header-font;
  margin: 0 auto rhythm(0.5);
}

%h5, h5 {
  @include responsive-text-size(base);
  font-family: $header-font;
  margin: 0 auto rhythm(0.5);
}

%h6, h6 {
  @include responsive-text-size(base);
  font-family: $header-font;
  margin: 0 auto rhythm(1);
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

pre,
code {
  @include responsive-text-size(deci);
}

blockquote {
  background: url('/images/bg-quotes.jpg');
  border-left: 10px solid color(royal-blue);
  padding: rhythm(0.5);
  margin-bottom: rhythm(1);
  &:before {
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.5em;
    color: color(royal-blue);
    content: "\201C";
    font-family: $display-font;
  }
  &:after {
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.1em;
    vertical-align: -0.5em;
    color: color(royal-blue);
    content:"\201D";
    font-family: $display-font;
  }
  p {
    display: inline;
    line-height: 1.7rem;
  }
}

ol {
  margin-left: rhythm(1);
  counter-reset: list;
  li {
    margin-bottom: rhythm(1);
    list-style: none;
    position: relative;
    &:before {
      counter-increment: list;
      content: counter(list) '.';
      position: absolute;
      top: 0px;
      left: rhythm(-1);
      font-weight: bold;
    }
  }
}

ul {
  list-style: disc;
  margin-left: rhythm(1);
  ul {
    list-style: square;
  }
}

li {
  margin-bottom: rhythm(1);
}

li > p:first-child {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

p {
  margin-bottom: rhythm(1);
}

a {
  text-decoration: none;
  color: color(apple);
  border-bottom: 1px dashed color(apple);
  transition: all 0.15s linear;
  &:hover {
    color: darken(color(apple), 20%);
    border-bottom: 1px solid color(apple);
  }
}

.site-header__title {
  @include responsive-text-size(hecto);
  font-family: $display-font;
  font-weight: bold;
  &:hover {
    color: color(english-walnut);
  }
}

.site-header__description {
  @include responsive-text-size(centi);
  font-family: $display-font;
}

.site-nav {
  font-family: $display-font;
}

.site-nav__link:hover {
  color: color(english-walnut);
}

.post-meta,
.post-tag,
.rss-subscribe {
  @include responsive-text-size(deci);
}

.site-footer {
  font-family: $display-font;
  a:hover {
    color: lighten(color(apple), 20%);
  }
}

.footer-main {
  @include responsive-text-size(deci);
}

.footer-secondary {
  @include responsive-text-size(milli);
}
