// ==========
// SASS VARIABLES
// -----
// Declare all the variables which will be used in your theme here.
// Feel free to change the variable values and add your own variables
// to this file as well.
// ==========

// ==========
// BREAKPOINTS
// -----
// Sass map for breakpoints. You can add additional breakpoints to this map
// or change their variable names.
//
// USAGE:
// -----
// @include respond-above(small) {
//   0.test {
//     css-property: value;
//   }
// }
// ==========
$breakpoints: (
  small:    575px,
  medium:   720px,
  large:    820px,
  x-large:  960px
);

// ==========
// FONTS
// ==========

// Imported fonts
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-bold.eot');
  src: url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
     url('../fonts/montserrat-bold.woff2') format('woff2'),
     url('../fonts/montserrat-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arvo';
  src: url('../fonts/arvo-regular.eot');
  src: url('../fonts/arvo-regular.eot?#iefix') format('embedded-opentype'),
     url('../fonts/arvo-regular.woff2') format('woff2'),
     url('../fonts/arvo-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arvo';
  src: url('../fonts/arvo-bold.eot');
  src: url('../fonts/arvo-bold.eot?#iefix') format('embedded-opentype'),
     url('../fonts/arvo-bold.woff2') format('woff2'),
     url('../fonts/arvo-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arvo';
  src: url('../fonts/arvo-italic.eot');
  src: url('../fonts/arvo-italic.eot?#iefix') format('embedded-opentype'),
     url('../fonts/arvo-italic.woff2') format('woff2'),
     url('../fonts/arvo-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Eight-bit';
  src: url('../fonts/eightbitoperatorplus8-bold-webfont.eot');
  src: url('../fonts/eightbitoperatorplus8-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/eightbitoperatorplus8-bold-webfont.woff2') format('woff2'),
     url('../fonts/eightbitoperatorplus8-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Eight-bit';
  src: url('../fonts/eightbitoperatorplus-regular-webfont.eot');
  src: url('../fonts/eightbitoperatorplus-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/eightbitoperatorplus-regular-webfont.woff2') format('woff2'),
     url('../fonts/eightbitoperatorplus-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Base font stacks
$base-font: 'Arvo', Rockwell, serif;
$header-font: 'Montserrat';
$display-font: 'Eight-bit';

// Base font sizes and line heights
$base-font-size: 20px;
$base-line-height: 32px;
$round-to-nearest-half-line: true;

// Uses the `rem` unit for all vertical rhythm output
$rhythm-unit: 'rem';

// Set typography sizes
$text-sizing: (
  milli: (
    small: (
      font-size: 0.618rem
    )
  ),
  centi: (
    small: (
      font-size: 0.618rem
    ),
    medium: (
      font-size: 0.8rem
    )
  ),
  deci: (
    small: (
      font-size: 0.8rem
    )
  ),
  base: (
    small: (
      font-size: 0.8rem
    ),
    medium: (
      font-size: 1rem
    )
  ),
  deca: (
    small: (
      font-size: 1rem
    ),
    medium: (
      font-size: 1.294rem
    )
  ),
  hecto: (
    small: (
      font-size: 1.294rem
    ),
    medium: (
      font-size: 1.618rem
    ),
  ),
  kilo: (
    small: (
      font-size: 1.618rem
    ),
    medium: (
      font-size: 2.094rem
    ),
  ),
  mega: (
    small: (
      font-size: 2.094rem
    ),
    medium: (
      font-size: 2.618rem
    ),
  )
);

// ==========
// COLORS
// -----
// Set variables for colors.

// USAGE:
// -----
// 0.test {
//   background-color: color(color-name);
// }
// ==========
$colors: (
  'abbey': rgba(83, 87, 89, 1),
  'black-alpha2': rgba(0, 0, 0, 0.2),
  'english-walnut': rgba(55, 40, 34, 1),
  'apple': rgba(74, 188, 65, 1),
  'sugarcane': rgba(250, 255, 250, 1),
  'mineshaft': rgba(42, 42, 42, 1),
  'royal-blue': rgba(76, 131, 225, 1),
  'silver-chalice': rgba(166, 166, 166, 0.5),
  'white': rgba(255, 255, 255, 1)
);

// ==========
// Z-INDEX
// -----
// Set variables for Z-index.
// ==========
$layers: (
);
